h1 {
	color: #707070;
	text-align: center;
	text-decoration: underline;
}

.blocRecherche {
	background-color: #FFDD88;
	width: 800px;
	margin: auto;
	border: 3px solid #707070;
}

.champRecherche {
	float: left;
	width: 90px;
	border: 2px solid #0174DF;
	margin-right: 5px;
	font-weight: bold;
	background-color: #FF8040;
}

.boutonRechercher
{
	display: block;
	margin: auto;
	width: 200px;
	height: 30px;
	border: 1px solid grey;
	/*border: none;*/
	
	background-color: #DD8040;
	color: white;
	font-weight: bold;
	font-size: 14px;
	font-family: Verdana;
	border-radius: 4px;
	box-shadow: 1px 1px 3px #aaa;
}

form {
	margin: 20px;
}

p {
	font-size: 1.1em;
	margin: 20px;
}