
h1
{
	color: #707070;
	text-align: center;
	text-decoration: underline;
}

.blocRecherche
{
	background-color: #FFDD88;
	width: 800px;
	margin: auto;
	border : 3px solid #707070;	
}

.champRecherche
{
	float: left;
	width: 90px;
	border: 2px solid #0174DF;
	margin-right: 5px;
	font-weight: bold;
	background-color: #FF8040;
}

form
{
	margin: 20px;	
}

p
{
	font-size: 1.1em;
	margin: 20px;
}