
h1
{
	color: #0174DF;
		text-align: center;
	text-decoration: underline;
}

.blocRecherche
{
	background-color: #DDEEFF;
	width: 800px;
	margin: auto;
	border : 3px solid #0174DF;	
}

.champRecherche
{
	float: left;
	width: 90px;
	border: 2px solid #0174DF;
	margin-right: 5px;
	font-weight: bold;
	background-color: #99FFFF;
}

form
{
	margin: 20px;	
}

p
{
	font-size: 1.1em;
	margin: 20px;
}